  :root {
    --primary: #800020; 
    --primary-light: #a01030;
    --bg-body: #fdfcfb;
    --bg-card: #ffffff;
    --border: #ececec;
    --text-main: #2d2d2d;
    --text-muted: #757575;
    --accent-orange: #f39c12;
    --accent-blue: #3498db;
    --accent-green: #27ae60;
    --accent-red: #e74c3c;
}
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Inter', 
    sans-serif; 
}
body { 
    display: flex; 
    height: 100vh; 
    background-color: var(--bg-body); 
    overflow: hidden;  
    margin-right: 10px;
}
/* Sidebar */
aside {
    width: 230px;
    background: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.logo-box { 
    padding: 30px 20px; 
    border-bottom: 1px solid rgba(255,255,255,0.1); 
}

.logo-box h2 { 
    font-size: 1.1rem; 
}
.logo-box p { 
    font-size: 0.7rem; 
    opacity: 0.7; 
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #2d2d2d;
}
.dropdown-menu a:hover{
    background: #f2f2f2;
}

nav { 
    padding: 20px 0; 
    flex-grow: 1; 
}
nav ul { 
        list-style: none; 
}
.nav-item {
    padding: 7px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.95rem;
    opacity: 0.8;
}
.nav-item:hover { 
    background: var(--primary-light); 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.nav-item.active {
    background: var(--primary-light);
    font-weight: bold;    
}
.nav-item i { 
    width: 18px; 
}
.profile-footer { 
    padding: 20px; 
    display: flex; 
    align-items: center; 
    gap: 10px; border-top:
    1px solid rgba(255,255,255,0.1); 
}
.avatar { 
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    background: #fff; 
    color: var(--primary); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold; }
/* Main Content */
main { 
    flex-grow: 1; 
    overflow-y: auto; 
    display: flex; 
    flex-direction: column; }
header { 
    padding: 15px 30px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid var(--border); 
    background: #fff; 
}
.breadcrumb { 
    font-size: 0.85rem; 
    color: black; 
    display: flex; 
    font-weight: bold;
    align-items:
    center; gap: 8px; 
}
.content-area { 
    padding: 30px; 
    display: none; 
}
.content-area.active { 
    display: block; 
}
h1 { 
    font-size: 1.7rem; 
    color: var(--text-main); 
    margin-bottom: 5px; 
}
.sub-desc { 
    color: var(--text-muted); 
    font-size: 0.9rem; 
    margin-bottom: 25px; 
}
/* Top Summary Cards */
.stat-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
    margin-bottom: 30px; 
}
.stat-card { 
    background: #fff; 
    padding: 15px; 
    border-radius: 10px; 
    border: 1px solid var(--border); 
    position: relative; 
}
.stat-card i { 
    position: absolute; 
    right: 15px; 
    top: 15px; 
    color: #ccc; 
}
.stat-val { 
    font-size: 1.15rem; 
    font-weight: bold; 
    margin: 4px 0; 
}
.stat-title { 
    font-size: 0.75rem; 
    font-weight: bold; 
    padding-bottom: 8px;
    color: #666; 
}
.stat-sub { 
    font-size: 0.75rem; 
    color: var(--text-muted); 
}
/* Dashboard Visuals */
.visual-grid { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-bottom: 30px; 
}
.card { 
    background: #fff; 
    padding: 25px; 
    border-radius: 12px; 
    border: 1px solid var(--border); 
}
.card-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 15px; 
}
/* Table Styles (Scholarships & Applications) */
.table-container { 
    background: #fff; 
    border-radius: 10px; 
    border: 1px solid var(--border);
    overflow: hidden; 
}
table { 
        width: 100%; 
        border-collapse: collapse; 
        table-layout: fixed;
}
th { 
    text-align: left; 
    padding: 15px; 
    background: #fafafa; 
    font-size: 0.8rem; 
    color:var(--text-muted); 
    text-transform: uppercase; 
}
td { 
    padding: 15px; 
    border-top: 1px solid var(--border); 
    font-size: 0.9rem; 
}
.badge { 
    padding: 4px 12px; 
    border-radius: 20px; 
    font-size: 0.75rem; 
    font-weight: bold; 
    background:1px #fff4e5; 
    color: var(--accent-orange); 
    
}

/* Functional Buttons */
.btn-primary { 
    background: var(--primary); 
    color: rgb(253, 253, 253); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 6px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    gap: 8px; 
}
.action-btn { 
    background: none; 
    border: none; 
    color: var(--text-muted); 
    cursor: pointer;
    padding: 5px; }
.action-btn:hover { 
    color: var(--primary); 
}
/* Chart Labels/Structure */
.chart-placeholder {
    height: 200px; 
    width: 100%; 
    border: 2px dashed #eee; 
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #ddd; 
    position: relative;
/* Modal Overlay (The dark background) */
}

.criteria-page {
    background: #f8f6f6;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    margin-top: 20px;

}
.criteria-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.criteria-box{
    background: #f8f6f6;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    margin-top: 20px;
}
.criteria-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}
.criteria-header h3{
    margin: 0;
    color: #800020;

}
.criteriaTable{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
.criteriaTable th{
    text-align: left;
    padding: 10px;
    font-size: 10px;
    background: #f1f1f1;
    border-bottom: 2px solid #ddd;

}
.criteriaTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.add-criteria-btn{
    background: #8b0015;
    color: rgb(251, 249, 249);
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
}
.add-criteria-btn:hover {
    background: #a3152b;
}
.search-container{
    display: flex;
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    border:1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
   
    
}
.search-container input {
    flex:1; 
    padding: 10px 14px;
    border:none;  
    font-size: 14px; 
    outline: none;
    background: white;
}
.modal-header {
    text-align: center;
    margin-bottom: 20px;
}
.modal-header h2 { 
    color: var(--primary); 
    font-size: 1.2rem; 
}
/* Form Styling */
.form-group { 
    margin-bottom: 15px; 
    display: flex; 
    flex-direction: column; 
}
.form-group label { 
    font-size: 0.8rem; 
    font-weight: bold; 
    margin-bottom: 5px;
    color: #555; 
}
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 0.9rem;
    outline: none;
}
.form-row { display: flex; gap: 15px; }
.form-row .form-group { flex: 1; }
textarea.form-input { height: 80px; resize: none; }
.modal-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.btn-submit { 
    background: var(--primary); 
    color: white; 
    border: none; 
    padding: 12px;
    border-radius: 6px; 
    cursor: pointer; 
    font-weight: bold; 
}
.btn-cancel { 
    background: none; 
    border: 1px solid #ddd; 
    padding: 10px; 
    border-radius: 6px;
    cursor: pointer; 
    color: #000000; 
}
.btn-create {
    background: var(--primary); 
    border: 1px solid #aa2f2f; 
    padding: 10px; 
    border-radius: 6px;
    cursor: pointer; 
    color: #fffdfd; 
}
.btn-save{
    background: var(--primary); 
    border: 1px solid #aa2f2f; 
    padding: 10px; 
    border-radius: 6px;
    cursor: pointer; 
    color: #ffffff; 
}
/* Unique styling for the Edit Modal border to match the image */

/* Red Delete Confirmation Style */
.btn-delete-confirm {
    background-color: #e74c3c;
    color: white;
}

.delete-modal{
    background: hsl(0, 0%, 100%);
    width: 50%;
    max-width: 45ch;
    max-height: 50vh;
    overflow-y: auto;
    padding: 30px;
    border-radius: 7px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); 
}
.del-btn{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;
    padding-left: 30px;
}
.btn{
    padding: 10px 18 px;
    border-radius: 3px;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    transition: 0.25 ease;
    border: none;
    
}
.cancel-button{
    background: white; 
    border: 1px solid #9e9e9e; 
    padding: 7px; 
    border-radius: 6px;
    cursor: pointer; 
    color: #000000; 
    
}
.cancel-button:hover{
    background:#e6e6e6;
}
.confirm-button{
    background: var(--primary); 
    border: 1px solid #aa2f2f; 
    padding: 7px; 
    border-radius: 6px;
    cursor: pointer; 
    color: #fffdfd; 
}
.confirm-button:hover{
    background: #a3152b;
}
.evalbtn-cancel{
     background: var(--primary); 
    border: 1px solid #fdfdfd; 
    padding: 7px; 
    border-radius: 6px;
    cursor: pointer; 
    color: #fffdfd; 
}
.evalbtn-evaluate{
    background: var(--primary); 
    border: 1px solid #aa2f2f; 
    padding: 7px; 
    border-radius: 6px;
    cursor: pointer; 
    color: #fffdfd; 
}

.dropdown{
    float: right;
    overflow: hidden;
}
.dropdown {
    font-size: 16px;
    border:none;
    outline: none;
   
    color:white; 
    display:flex; 
    cursor: pointer;
    font-size:0.7rem;
    margin: 0;
}


.profile-circle { 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: var(--primary); 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  font-weight: bold; 
  user-select: none; 
  border: none;

} 
.profile-circle:hover {
    background-color: var(--primary-light);

}
 
.profile-menu { 
  display: none; /* hidden by default */ 
  position: absolute; 
  top: 50px; /* below the circle */ 
  right: 0; 
  background-color: white; 
  min-width: 140px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  z-index: 1; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
  float: right;
} 
 
.profile-menu a { 
  display: block; 
  padding: 7px 10px; 
  text-decoration: none; 
  color: #333; 
  text-align: left;

} 
.profile-menu a:hover { 
background-color: #f2f2f2; 
}
.show{display: block;}
.inputS{
    margin: 10px;
}





.modal-overlay.active {
    display: flex;
    
}

.modal-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    inset: 0;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(253, 253, 253, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
.eval-content{
    background: hsl(0, 0%, 100%);
    width: 70%;
    max-width: 100ch;
    max-height: 70vh;
    overflow-y: auto;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
/* The Modal Box */
.modal-content { 
    background: hsl(0, 0%, 100%);
    width: 95%;
    max-width: 60ch;
    max-height: 90vh;
    overflow-y: auto;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
#editModal .form-input:focus {
    border-color: white;
    outline: none;
}